In [1]:
import pandas as pd
import numpy as np

In [3]:
col1 = ['col1']
lis1 = [1, 2, 3]
arr1 = np.array(lis1)
df1_l = pd.DataFrame(lis1, columns=col1)
df1_l

   col1
0     1
1     2
2     3

In [5]:
df1_a = pd.DataFrame(arr1, columns=col1)
df1_a

   col1
0     1
1     2
2     3

In [6]:
col2 = ['col1', 'col2', 'col3']
list2 = [[1, 2, 3], [11, 12, 13]]
arr2 = np.array(list2)
arr2

array([[ 1,  2,  3],
       [11, 12, 13]])

In [7]:
df2_l = pd.DataFrame(list2, columns=col2)
df2_l

   col1  col2  col3
0     1     2     3
1    11    12    13

In [8]:
df2_a = pd.DataFrame(arr2, columns=col2)
df2_a

   col1  col2  col3
0     1     2     3
1    11    12    13

In [9]:
dic1 = {'col1':[1,11,111], 'col2':[2,12,112], 'col3':[3, 13, 113]}
df2_d = pd.DataFrame(dic1)
df2_d

   col1  col2  col3
0     1     2     3
1    11    12    13
2   111   112   113

In [10]:
arr3 = df2_d.values
arr3

array([[  1,   2,   3],
       [ 11,  12,  13],
       [111, 112, 113]])

In [12]:
list3 = df2_d.values.tolist()
list3

[[1, 2, 3], [11, 12, 13], [111, 112, 113]]

In [14]:
dict3 = df2_d.to_dict()
dict3

{'col1': {0: 1, 1: 11, 2: 111},
 'col2': {0: 2, 1: 12, 2: 112},
 'col3': {0: 3, 1: 13, 2: 113}}

In [15]:
dic1

{'col1': [1, 11, 111], 'col2': [2, 12, 112], 'col3': [3, 13, 113]}

In [16]:
dict4 = df2_d.to_dict('list')
dict4

{'col1': [1, 11, 111], 'col2': [2, 12, 112], 'col3': [3, 13, 113]}